Задача:

По заданному массиву убыточных авто (VIN, гос. знак) найти наиболее подозрительные для более детально изучения с помощью какого-либо метода сравнения строк на предмет похожести друг на друга.

In [2]:
!pip install "textdistance[extras]"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textdistance[extras] in /usr/local/lib/python3.8/dist-packages (4.5.0)
Requirement already satisfied: python-Levenshtein in /usr/local/lib/python3.8/dist-packages (from textdistance[extras]) (0.20.8)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from textdistance[extras]) (1.21.6)
Requirement already satisfied: rapidfuzz>=2.6.0 in /usr/local/lib/python3.8/dist-packages (from textdistance[extras]) (2.13.3)
Requirement already satisfied: abydos in /usr/local/lib/python3.8/dist-packages (from textdistance[extras]) (0.5.0)
Requirement already satisfied: pyxDamerauLevenshtein in /usr/local/lib/python3.8/dist-packages (from textdistance[extras]) (1.7.1)
Requirement already satisfied: jellyfish in /usr/local/lib/python3.8/dist-packages (from textdistance[extras]) (0.9.0)
Requirement already satisfied: deprecation in /usr/local/lib/python3.8/dist-packages (from abydos->textdistance[extras]) (2.1.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from deprecation->abydos->textdistance[extras]) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->deprecation->abydos->textdistance[extras]) (3.0.9)
Requirement already satisfied: Levenshtein==0.20.8 in /usr/local/lib/python3.8/dist-packages (from python-Levenshtein->textdistance[extras]) (0.20.8)

In [3]:
import pandas as pd

In [4]:
auto = pd.read_excel("auto.xlsx")

In [5]:
auto.head()

   num_ts                VIN        GRZ                 model_ts     sum
0       1  1G1JC524417418958  M448PH123  2001 Chevrolet Cavalier  382378
1       2  2B3HD46R02H210893   T384PY98      2002 Dodge Intrepid  269794
2       3  KMHD25LE1DU042025   B397MB23  2013 Hyundai Elantra GT   56681
3       4  JH4CC2642RC001364   T447AY67         1994 Acura Vigor  327237
4       5  2BCHV81S4JB533621   E726EK61       1988 Jeep Wrangler  244091

In [6]:
auto.shape

(70, 5)

In [7]:
auto["glued_string"] = auto.VIN + auto.GRZ

In [8]:
auto

,num_ts,VIN,GRZ,model_ts,sum,glued_string
0,1,1G1JC524417418958,M448PH123,2001 Chevrolet Cavalier,382378,1G1JC524417418958M448PH123
1,2,2B3HD46R02H210893,T384PY98,2002 Dodge Intrepid,269794,2B3HD46R02H210893T384PY98
2,3,KMHD25LE1DU042025,B397MB23,2013 Hyundai Elantra GT,56681,KMHD25LE1DU042025B397MB23
3,4,JH4CC2642RC001364,T447AY67,1994 Acura Vigor,327237,JH4CC2642RC001364T447AY67
4,5,2BCHV81S4JB533621,E726EK61,1988 Jeep Wrangler,244091,2BCHV81S4JB533621E726EK61
...,...,...,...,...,...,...
65,66,1FUJBGAN04HM86987,H938YK199,2004 Freightliner Medium Conventional,57102,1FUJBGAN04HM86987H938YK199
66,67,JN8AZ28R49T122921,Y127KO89,2009 Nissan Cube,250696,JN8AZ28R49T122921Y127KO89
67,68,JA3AP57J5SY000719,A553AE59,1995 Mitsubishi Diamante,183402,JA3AP57J5SY000719A553AE59
68,69,4V4NC9JH21N322086,K659PK68,2001 Volvo VN,350022,4V4NC9JH21N322086K659PK68
69,70,4S3BK4355T6319316,T772KY16,1996 Subaru Legacy,41675,4S3BK4355T6319316T772KY16

In [9]:
import itertools

In [10]:
all_rows = itertools.product(auto.glued_string, auto.glued_string)

In [11]:
all_rows

In [12]:
import textdistance as td
from pyxdameraulevenshtein import normalized_damerau_levenshtein_distance

In [13]:
distances = {}
for l, r in all_rows:
    if l != r:
        distances[str({l, r})] = normalized_damerau_levenshtein_distance(l, r)

In [14]:
distance_rows = list(distances.items())

In [15]:
list(sorted(distance_rows, key=lambda x: x[1]))[:10]

[("{'WP1AA2A28BL103838M878MM134', 'WP1AA2A28BL103832M178MM134'}",
  0.07692307978868484),
 ("{'WP1AA2A28BL103838M878MM134', 'WP1AA2A28BL103833M778MM134'}",
  0.07692307978868484),
 ("{'WP1AA2A28BL103832M178MM134', 'WP1AA2A28BL103833M778MM134'}",
  0.07692307978868484),
 ("{'JTJBM7FX0A5000592O484HH76', 'JTJBM7FX0A5000592C714MY56'}",
  0.23999999463558197),
 ("{'JN8AZ28R49T122921Y127KO89', 'JN8AZ28R49T122921P377CA66'}",
  0.2800000011920929),
 ("{'2BCHV81S4JB533621M421TM177', '2BCHV81S4JB533621E726EK61'}",
  0.3076923191547394),
 ("{'JHMSZ542XDC028494T120TC777', 'JHMSZ542XDC028494K656OP38'}",
  0.3461538553237915),
 ("{'JH4KA3140LC003233H219KC54', 'JH4KA7660MC001937T158KC32'}",
  0.5199999809265137),
 ("{'JH4DA9340MS002938O110ET30', 'JH4KA7660MC001937T158KC32'}",
  0.5199999809265137),
 ("{'JH4DA9350PS016433M827EK76', 'JH4DA9340MS002938O110ET30'}",
  0.5199999809265137)]